.imge-header{
    width: 30px;
    height: 30px;
}
*{
    font-family: 'Cardo', serif;
    padding: 0;
    margin: 0;
}
a{
    width: fit-content;
    color: black;
    text-decoration: none;
}
ul li{
    color: white;
    list-style: none;
}
.footer-h2{
    position: relative;
}
.footer-h2::after{
    position: absolute;
    width: 10%;
    height: 2px;
    background-color: #FFCA42;
    bottom: -10px;
    left: 0;
    content: "";
}
.img-content{
    position: relative;
    z-index: 10;
    width: 100%;
    max-width: 500px;
    height:auto;
}
.content-home{
    z-index: 10;
    width: fit-content;
    position: relative;
}
.content-home::after{
    content: '';
    color: #FFCA42;
    border: 8px solid;
    width: 100%;
    height: 100%;
    top: 20px;
    right: -30px;
    position: absolute;
}
.img-data-home{
    width: 100%;
    height: 150px;
    object-fit: contain;
    max-width: 150px;
}

.img-section{
    position: relative;
    z-index: 10;
    width: 100%;
    max-width: 400px;
    height:auto;
    
}

.section-home{
    z-index: 10;
    width: fit-content;
    position: relative;
}
.section-home::after{
    content: '';
    color: #FFCA42;
    border: 8px solid;
    width: 100%;
    height: 100%;
    top: 20px;
    left: 30px;
    position: absolute;
}
.img-card-content{
    width: 80px;
    height: auto;
    object-fit: cover;
}
.img-radius{
    border-radius: 50%;
}
.input{
    width: 100%;
    padding: 10px;
    
}
.page-list{
    position: relative;
    /* border: 1px solid ; */
}
.list{
    position: absolute;
    transition: 0.5s;
    height: 0;
    top:70px;
    overflow: hidden;
    padding:0;
    margin-left: -20px;
    padding: 0 30px;
}
.list.active{
    margin-left: -20px;
    padding: 10px 30px;
    overflow: visible;
    height: auto;
    top: 70px;
    background-color: white;
    position: absolute;
    height: auto;
    align-items: flex-start;
}
.list.active li{
    text-align: start;
    color: black;

}
.img-card-store{
    max-width: 300px;
    width: 100%;

}
.input-contact:hover , textarea:hover{
    box-shadow: 0px 0px 20px #FFCA42;
}
.input-contact{
    transition: .5s;
    padding: 8px 8px 8px 45px;
    width: 100%;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.259);
    outline: 
    #FFCA42;
}
textarea{
    transition: .5s;
    resize: none;
    padding: 8px 8px 8px 45px;
    width: 100%;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.259);
    outline: 
    #FFCA42;
}   
.css-81k60e-MuiStack-root{
    color: white !important;
}
.img-contact-1{
    position: absolute;
    left: 10px;
    top: 5px;
}
.img-contact-2{
    position: absolute;
    right: 225px;
    top: 5px;
}
.img-contact-3 , .img-contact-4{
    position: absolute;
    left: 10px;
    top: 5px;
}
.closeaccardion{
    transition: .4s;
    height: 0;
    padding: 0px 10px;
    overflow: hidden;
}
.accardion{
    width: fit-content;
    transition: .4s;
    padding:10px ;
    height: auto;
}
.css-bz6y7s {
    color:white !important;
}
.typography{
    transition: .4s;
    position: relative;
    color: white;
    border-bottom: 1px solid white;
}
.typography::after{
    transition: .4s;
    bottom: -1px;
    left: 0;
    position: absolute;
    background-color: #FFCA42;
    height: 2px;
    width: 0%;
    content: "";
}
.typography:hover::after{
    width: 100%;
}

.sectionsingle{
    cursor: pointer;
    padding: 10px 50px ;
    background-color: #1B3764;
    color: white;
}
.section-active{
    cursor: pointer;
    color: #1B3764;
    padding: 10px 50px;
    background-color: #E8ECF2;
}
.none{
    display: none !important;
}
.single-img{
    width: 100%;
    height: 100%;
    max-height: 600px;
    object-fit:cover;
}
.menu-icon{
    cursor: pointer;
}

a.active li{
    color: rgb(197, 196, 196);
}
.close{
    color: white;
    cursor: pointer;
    display: none;
}



/* ----basket----- */
.basket-big-contaner{
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container-basket{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    justify-content: space-between;
}
.basket-page{
    display: flex;
    gap: 50px;
}
.basket-img{
    width: 150px;
    height: 150px;
}
.basket-close{
    cursor: pointer;
}
.basket-ad {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
 .basket-say , .basket-price{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
.basket-close{
    padding: 20px;
}
@media(max-Width:1100px){
    .hero-img{
        
        display: none;
    }
    .section-home{
        display: none;
    }
    .page-list{
        position: relative;
    }
    .list{
        z-index: 100;
        color: white;
        padding-top: 50px;
        padding-top:20px;
        padding-left: 0px;
        padding-right: 0px;
        background-color: transparent;
        position: static;
    }
    .list.active li{
        color: white;
    }
    .list.active{
        padding-top: 50px;
        padding-left: 0px;
        padding-right: 0px;
        background-color: transparent;
        position: static;
    }
    .active.menu{
        left:0;
    }
    .menu{
        transition: .4s;
        z-index: 100;
        position: fixed;
        width: 100%;
        height: 150%;
        left: -100%;
        right: 0;
        top: 0;
        background-color:#1B3764;
        color: black;}
    .close{
        display: block;
    }
    .content-home::after{
        color: transparent;
    }
    .img-content{
        width: 100%;
        height: 100%;
    }
}
