.imge-header{
    width: 30px;
    height: 30px;
}
*{
    font-family: 'Cardo', serif;
}
a{
    color: black;
    text-decoration: none;
}
ul li{
    color: white;
    list-style: none;
}
.footer-h2{
    position: relative;
}
.footer-h2::after{
    position: absolute;
    width: 10%;
    height: 2px;
    background-color: #FFCA42;
    bottom: -10px;
    left: 0;
    content: "";
}
.img-content{
    position: relative;
    z-index: 10;
    width: 100%;
    max-width: 500px;
    height:auto;
}
.content-home{
    z-index: 10;
    width: fit-content;
    position: relative;
}
.content-home::after{
    content: '';
    color: #FFCA42;
    border: 8px solid;
    width: 100%;
    height: 100%;
    top: 20px;
    right: -30px;
    position: absolute;
}
.img-data-home{
    width: 100%;
    height: 150px;
    object-fit: contain;
    max-width: 150px;
}

.img-section{
    position: relative;
    z-index: 10;
    width: 100%;
    max-width: 400px;
    height:auto;
    
}

.section-home{
    z-index: 10;
    width: fit-content;
    position: relative;
}
.section-home::after{
    content: '';
    color: #FFCA42;
    border: 8px solid;
    width: 100%;
    height: 100%;
    top: 20px;
    left: 30px;
    position: absolute;
}
.img-card-content{
    width: 80px;
    height: auto;
    object-fit: cover;
}
.img-radius{
    border-radius: 50%;
}
.input{
    width: 100%;
    padding: 10px;
    
}
.page-list{
    position: relative;
    /* border: 1px solid ; */
}
.list{
    position: absolute;
    transition: 0.5s;
    height: 0;
    top:70px;
    overflow: hidden;
    padding:0;
    margin-left: -20px;
    padding: 0 30px;
}
.list.active{
    margin-left: -20px;
    padding: 10px 30px;
    overflow: visible;
    height: auto;
    top: 70px;
    background-color: white;
    position: absolute;
    height: auto;
    align-items: flex-start;
}
.list.active li{
    text-align: start;
    color: black;

}
.img-card-store{
    max-width: 300px;
    width: 100%;

}
.input-contact:hover , textarea:hover{
    box-shadow: 0px 0px 20px #FFCA42;
}
.input-contact{
    transition: .5s;
    padding: 8px 8px 8px 45px;
    width: 100%;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.259);
    outline: 
    #FFCA42;
}
textarea{
    transition: .5s;
    resize: none;
    padding: 8px 8px 8px 45px;
    width: 100%;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.259);
    outline: 
    #FFCA42;
}   
.css-81k60e-MuiStack-root{
    color: white !important;
}
.img-contact-1{
    position: absolute;
    left: 10px;
    top: 5px;
}
.img-contact-2{
    position: absolute;
    right: 225px;
    top: 5px;
}
.img-contact-3 , .img-contact-4{
    position: absolute;
    left: 10px;
    top: 5px;
}
.closeaccardion{
    transition: .4s;
    height: 0;
    padding: 0px 10px;
    overflow: hidden;
}
.accardion{
    width: fit-content;
    transition: .4s;
    padding:10px ;
    height: auto;
}
