.imge-header{
    width: 30px;
    height: 30px;
}
*{
    font-family: 'Cardo', serif;
}
a{
    color: black;
    text-decoration: none;
}
ul li{
    color: white;
    list-style: none;
}
.footer-h2{
    position: relative;
}
.footer-h2::after{
    position: absolute;
    width: 10%;
    height: 2px;
    background-color: #FFCA42;
    bottom: -10px;
    left: 0;
    content: "";
}
.img-content{
    position: relative;
    z-index: 10;
    width: 100%;
    max-width: 500px;
    height:auto;
}
.content-home{
    z-index: 10;
    width: fit-content;
    position: relative;
}
.content-home::after{
    content: '';
    color: #FFCA42;
    border: 8px solid;
    width: 100%;
    height: 100%;
    top: 20px;
    right: -30px;
    position: absolute;
}
.img-data-home{
    width: 100%;
    height: 150px;
    object-fit: contain;
    max-width: 150px;
}